/* font */
@font-face {
    font-family: "Gilroy";
    src: url(fonts/Gilroy-Regular.ttf);
}


/* обнуление */




/* main */



/* artem */
body{
    margin: 0%;
}
.partners{
width: 100%;
background-color: #0F1113;
padding-bottom: 77px ;
display: flex;
justify-content: center ;
align-items: center ;
flex-direction: column;
gap: 40px;
}
.textourpartners{
    margin: auto;
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 82px;
} 
.partnerboxes{
margin-top: 52px;
display: flex;
gap: 20px;
flex-direction: row;
justify-content: center;
align-items: center;
flex-wrap: wrap;
width: 955px;
margin: auto;
}
.partnerupbox{
    width: 173px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #151D25;
    background: linear-gradient(180deg, #151D25 0%, #0F1113 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.lineya1{
    border: 0.8px solid #151d25;
    width: 80%;
    height: 0px;
}





.team{
font-family: Gilroy;
width: 100%;
background-color: #0F1113;
padding-bottom:73px ;
display: flex;
justify-content: center ;
align-items: center ;
flex-direction: column;
gap: 30px;
}
.ludi{
    display: flex;
    justify-content: center ;
    align-items: center ;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
}
.navi_team{
border: 1px solid #151d25;
width: 280px;
height: 215px;
background: linear-gradient(180deg, #151d25 0%, #0f1113 100%);
position: relative;
}
.simple{
    font-family: Gilroy;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    margin-top: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.photosimple{
    position: absolute;
    right: 80px;
    bottom: 162px;
}
.ceo{
    font-family: Gilroy;
font-weight: 500;
font-size: 16px;
text-align: center;
color: #4f6173;
margin-top: 13px;
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
}
.linenavi{
    border: 0.8px solid #151d25;
width: 279px;
height: 0px;
margin-bottom: 23px;
}
.socies{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textteam{  
font-weight: 700;
font-size: 36px;
text-align: center;
color: #fff;
margin-bottom: 66px;
}




.faq{
    font-family: Gilroy;
width: 100%;
background-color: #0F1113;
padding-bottom: 100px;
}
.textfaq{
    font-family: Gilroy;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #fff;
    margin-bottom: 73px;
}
.lineya2{
    border: 0.8px solid #151d25;
width: 62%;
height: 0px;
margin: auto;
}
.questionboxes{
    height: 78px;
    width: 62%;
    
}
/* danya */


/* matvey */



/* media */
@media only screen and (max-width: 1900px) {
.partnerboxes{
    width: 80%;
}
.partners{
    width:100%
}
.team{
    width: 100%;
}
}